@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-box{
 border: 1px solid black;
 transition: 0.5s;
  outline: 1px solid black;
}
.search-box::before, .search-box::after{
  border:1px solid red;
}